USE [master]
GO
/****** Object:  Database [Sells]    Script Date: 10.11.2023 21:11:03 ******/
CREATE DATABASE [Sells]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Sells', FILENAME = N'C:\Users\PAPA\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\Sells.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Sells_log', FILENAME = N'C:\Users\PAPA\AppData\Local\Microsoft\Microsoft SQL Server Local DB\Instances\MSSQLLocalDB\Sells.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Sells].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Sells]
GO
/****** Object:  Table [dbo].[Buyers]    Script Date: 10.11.2023 21:11:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Buyers](
	[Id] [int] NOT NULL,
	[Name] [varchar](255) NULL,
	[Surname] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sales]    Script Date: 10.11.2023 21:11:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sales](
	[TransactionId] [int] NOT NULL,
	[BuyerId] [int] NULL,
	[SellerId] [int] NULL,
	[TransactionAmount] [decimal](18, 2) NULL,
	[TransactionDate] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[TransactionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sellers]    Script Date: 10.11.2023 21:11:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sellers](
	[Id] [int] NOT NULL,
	[Name] [varchar](255) NULL,
	[Surname] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Buyers] ([Id], [Name], [Surname]) VALUES (1, N'Alexander', N'Ivanov')
INSERT [dbo].[Buyers] ([Id], [Name], [Surname]) VALUES (2, N'Maria', N'Petrova')
INSERT [dbo].[Buyers] ([Id], [Name], [Surname]) VALUES (3, N'Andrew', N'Shevchenko')
GO
INSERT [dbo].[Sales] ([TransactionId], [BuyerId], [SellerId], [TransactionAmount], [TransactionDate]) VALUES (101, 1, 2, CAST(150.50 AS Decimal(18, 2)), CAST(N'2023-01-10' AS Date))
INSERT [dbo].[Sales] ([TransactionId], [BuyerId], [SellerId], [TransactionAmount], [TransactionDate]) VALUES (102, 2, 1, CAST(200.75 AS Decimal(18, 2)), CAST(N'2023-02-15' AS Date))
INSERT [dbo].[Sales] ([TransactionId], [BuyerId], [SellerId], [TransactionAmount], [TransactionDate]) VALUES (103, 3, 3, CAST(100.00 AS Decimal(18, 2)), CAST(N'2023-03-20' AS Date))
GO
INSERT [dbo].[Sellers] ([Id], [Name], [Surname]) VALUES (1, N'Katherine', N'Kovalenko')
INSERT [dbo].[Sellers] ([Id], [Name], [Surname]) VALUES (2, N'Dmitry', N'Sidorov')
INSERT [dbo].[Sellers] ([Id], [Name], [Surname]) VALUES (3, N'Olga', N'Pavlenko')
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD FOREIGN KEY([BuyerId])
REFERENCES [dbo].[Buyers] ([Id])
GO
ALTER TABLE [dbo].[Sales]  WITH CHECK ADD FOREIGN KEY([SellerId])
REFERENCES [dbo].[Sellers] ([Id])
GO
USE [master]
GO
